@using MyFirstProject.Models
@model GradeViewModel


<div style="width:100%;margin-top:75px;margin-left:170px;">

	<div style="width:100%;">
	<div>
		@if (@Model.Id == 0)
		{
			<h2>
				Поставить Оценку
			</h2>
		}
		else
		{
			<h2>
				Обновить Оценку
			</h2>
		}
	</div>
		<form action="/Grades/AddGrade" method="post">
			<div>
				@if(@Model.LectureId == 0 )
				{
						<p>
					<div>
						Лекция:
					</div>
					@Html.DropDownListFor(model => model.LectureId, Model.Lectures)
				</p>
				}
				else
				{
						@Html.HiddenFor(x=>x.LectureId)
				}
				
				
				
				<p>
					<div>
						Оценка: 
					</div>
					@Html.TextBoxFor(x => x.Value)
					@Html.ValidationMessageFor(x=>x.Value)
				</p>

				
				@Html.HiddenFor(x=>x.StudentId)
				@Html.HiddenFor(x=>x.Id)
			
			
			</div>

			<div>
				@if(@Model.Id == 0)
				{
					<input type="submit" value="Поставить" />
				}
				else
				{
					<input type="submit" value="Обновить" />
				}
				
			</div>
		</form>
	</div>
</div>


